{% extends 'base.html' %}
{% load static %}

{% block content %}
      <!-- fashion section start -->
      <div class="fashion_section">
        <div id="main_slider" class="carousel slide" data-ride="carousel">
           <div class="carousel-inner">
              <div class="carousel-item active">
                 <div class="container">
                    <h1 class="fashion_taital text-white">Produtos</h1>
                    <div class="fashion_section_2">
                       <div class="row">
                          {% for product in products %}
                          <div class="col-lg-4 col-sm-4">
                             <div class="box_main">
                                 <h4 class="shirt_text">{{product.nome}}</h4>
                                 <p class="price_text"><span style="color: #262626;">R$ {{product.preco}}</span></p>
                                 <div class="tshirt_img"><img src="{% static 'images/tshirt-img.png' %}"></div>
                                 <div class="btn_main">
                                    <div class="buy_bt"><a href="#">Comprar Agora</a></div>
                                    <div class="seemore_bt"><a href="#">Ver mais</a></div>
                                 </div>
                              </div>
                           </div>
                           {% endfor %}
                       </div>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- fashion section end -->
{% endblock content %}